{% load static %}
<link rel="stylesheet" href="{% static 'cards/styles.css' %}">

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Редагувати набір{% else %}Новий набір{% endif %}</title>
</head>
<body class="card-detail-container">
    <div class="card">
        <h1 class="word-term">{% if form.instance.pk %}Редагувати набір{% else %}Новий набір{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="arrow">Зберегти</button>
        </form>
        <a href="{% url 'home' %}" class="arrow">Скасувати</a>
    </div>
</body>
</html>
